<div class="page a4 landscape">
    <header class="letterhead">
        <a class="no_print fa fa-bars menu" href="#page_menu"></a><span class="title"><span class="no_print">New (#name_singular#)</span>
    </header>
</div>
