<table class='nexus' id='(#table_id#)'>
  <thead>
    (#header_data#)
  </thead>

  <tbody>
    (#body_data#)
  </tbody>

  <tfoot>
    (#footer_data#)
  </tfoot>
</table>
<script type='text/template' id='template_(#table_id#)'>
  (#row_template#)
</script>
