<form class="page animate popup (#page_size#) (#page_orientation#) (#module_name_singular#)">

  <header class="letterhead">
    <a class="no_print fa fa-bars menu" href="#page_menu"></a>
    <span class="title"><span class="no_print">New</span> (#module_name_singular#)</span>
  </header>

  <div class="content">
    (#content#)
    <input type=submit />
  </div>

</form>
