/* line 25, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 31, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html {
  height: 100%; }

/* line 35, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
body {
  height: 100%;
  font: 12px Tahoma, Arial normal;
  background-color: #FCFCFF;
  position: relative;
  width: 100%;
  padding: 40px 10px 35px 10px;
  margin: 0;
  transition: padding-left 0.3s ease; }

/* line 47, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
img {
  border: none;
  /*ie 10 and below fix*/ }

/* line 51, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.fa {
  margin-right: 5px;
  position: relative;
  top: -1px; }

/* line 57, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.fill.width {
  width: 100%; }

/* line 61, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.fill.height {
  height: 100%; }

/* line 65, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.left {
  display: block;
  float: left; }

/* line 70, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.right {
  display: block;
  float: right; }

/* line 75, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox; }

/* line 81, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
.flexbox > * {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  -webkit-flex: 10; }

/* line 87, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
button.plain {
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  font-size: inherit; }

/* line 96, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
button.plain:focus {
  outline: none; }

/* line 101, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
button, input[type=button] {
  cursor: pointer; }

/* line 105, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000505;
  height: 30px;
  color: #FCFCFF;
  padding: 6px 4px;
  font-size: 1.2em;
  z-index: 100; }

/* line 118, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  background-color: #7EA0B7;
  color: #FCFCFF;
  z-index: -1;
  padding: 6px 4px;
  transition: padding-left 0.3s ease; }

/*side menu*/
/* line 133, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu {
  height: 110%;
  min-width: 30px;
  max-width: 200px;
  background-color: #39435C;
  position: fixed;
  padding-top: 30px;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  color: #FCFCFF;
  -ms-box-shadow: 0 0 10px 0 #000505;
  -webkit-box-shadow: 0 0 10px 0 #000505;
  -moz-box-shadow: 0 0 10px 0 #000505;
  box-shadow: 0 0 10px 0 #000505;
  border-right: 1px solid #000505; }

/* line 151, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #FCFCFF; }

/* line 159, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header .company.logo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-position: 50% 50%;
  border-radius: 100%;
  background-repeat: no-repeat;
  border: 3px inset #FCFCFF;
  margin: 0 auto 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 #000505 inset;
  -moz-box-shadow: 0 0 5px 0 #000505 inset;
  -ms-box-shadow: 0 0 5px 0 #000505 inset;
  box-shadow: 0 0 5px 0 #000505 inset; }

/* line 175, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header .field.search {
  position: relative; }

/* line 179, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header .field.search input {
  width: 100%;
  border: none;
  padding: 6px 20px 6px 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: inherit; }

/* line 187, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header .field.search input:focus {
  outline-color: silver; }

/* line 191, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu header .field.search .fa-search {
  position: absolute;
  right: 0px;
  top: 1px; }

/* line 197, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
#menu .item {
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 6px 4px;
  border-bottom: 1px solid #FCFCFF;
  color: inherit; }

/* line 209, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.show_menu body, html.show_menu #footer {
  padding-left: 210px; }

/* line 213, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.show_menu #menu {
  width: 100%; }

/* line 218, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.hide_menu body, html.hide_menu #footer {
  padding-left: 40px; }

/* line 223, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.hide_menu #menu {
  width: 0; }

/* line 227, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.hide_menu #menu header {
  display: none; }

/* line 231, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.hide_menu #menu .item .text {
  display: none; }

/* line 235, /Applications/MAMP/htdocs/nexus_ga/stylesheets/nexus.scss */
html.hide_menu #menu .item .fa {
  margin: 0;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=nexus.css.map */