<div class="card shadowed">
    <header><span class="icon icon-info-circle"></span></header>
    <div class="content">
      <h2 class="title">Home Page</h2>
      <p>version: alpha</p>
      <p>this area is currently under heavy renovation as of</br>today</p>
    </div>
</div>
