<!DOCTYPE html>
<html class="nexus (#module_class#) (#module_method#)">
<head>
    (#head#)
</head>
<body>
    <header id="header">
      <a class="icon icon-bars"></a>
      <h4>Nexus</h4>
    </header>
    <menu id="menu">
      <header>
        <i class="icon icon-angle-left"></i>
      </header>
      <input type=text placeholder="Search..."/>
    </menu>
</body>
</html>
