<!DOCTYPE html>
<html>
<head>
    (#head#)
</head>
<body class="(#requested_module#) (#requested_method#)">
    <div id="mask" class="mask"></div>
    <header id="header">

      <a id="main_menu_toggle"><span class="icon icon-bars button"></span>Nexus</a>

      <div id="profile_area" class="action">
        <h5 class="gplus user name">(#user_nickname#)</h5>
        <h5 class="user email">(#user_email#)</h5>
        <img class="gplus user image" src="/core/nexus/images/avatar.png" />

        <div class="menu">
          <a class="item" href="(#logout_url#)">Log out of Nexus</a>
          <a class="item gplus sign_out logged_in_only">Log out of g+</a>
          <a class="item gplus sign_in logged_out_only">Sign in to g+</a>
          <a class="item gplus disconnect logged_in_only">Disconnect g+</a>
        </div>
      </div>

    </header>

    <div id="main_menu" class="menu">
      <a class="item" href="/"><span class="icon icon-home"></span>Home</a>
      (#menu_items#)
    </div>

    <div id="page_content">
      (#page_content#)
    </div>

</body>
</html>
