<meta charset="UTF-8">
<title>(#title#)</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="shortcut icon" href="images/shortcut_icon.png" />
<link rel="stylesheet" href="stylesheets/nexus.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="scripts/jquery/jquery-2.1.4.min.js"></script>