@mixin border-radius($border-radius){
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin box-sizing($box-sizing){
  -webkit-box-sizing:$box-sizing;
  -moz-box-sizing:$box-sizing;
  box-sizing:$box-sizing;
}

@mixin box-shadow($box-shadow){
  -o-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -khtml-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin appearance($appearance){
  -webkit-appearance:$appearance;
   -moz-appearance:$appearance;
   appearance:$appearance;
}

/* ref: http://codepen.io/ebellempire/pen/rnvEK*/
@mixin blur($blur){
  filter: blur($blur);
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: url(#blur); /* Firefox needs SVG */
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=selector-replace($blur,'px',''));
}


@mixin animation($animation) {
    -moz-animation: $animation;
    -o-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

@mixin text-overflow($text-overflow){
  -ms-text-overflow: $text-overflow;
  -o-text-overflow: $text-overflow;
  text-overflow: $text-overflow;
  
}

@mixin user-select($user-select){
    -webkit-user-select: $user-select;
    -moz-user-select: $user-select;
    -ms-user-select: $user-select;
    user-select: $user-select;
}

@mixin word-break($word-break){
  -ms-word-break: $word-break;
  word-break: $word-break;
}
