@import "_nexus_mixin.scss";
@import "_nexus_palette.scss";
@import "_nexus_animation.scss";


*{
  @include box-sizing(border-box);
}

html, body{
    min-height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    margin:0;
}


body{
  color:$color_text;
  @include word-break(break-word);
  font:$font;
  background-color:$color_foreground;
}

img{
    border:none;
    max-height:100%;
    max-width:100%;
}

a{
  color:$color_link;
  text-decoration:none;

  &:hover{
    text-decoration:underline;
  }

}

button,
input[type=button],
input,
button,
input[type=submit],
input[type=reset],
a:link,
.button,
select,
.action{
    @include user-select(none);

    &:not([disabled]){
      cursor:pointer;
    }

    &[disabled]{
      cursor:not-allowed;
    }

    &:hover{
      cursor:pointer;
    }

}

a{
  color:$color_link;

  &:visited{
    color:$color_link_visited;
  }
}

h1,h2,h3,h4,h5,h6{
  display: block;
  font-weight: bold;
  margin:0;
}

h4{
  font-size:1em;
}

h5{
  font-size: 0.83em;
}
input:focus{
  outline-color:$color_primary;
}

img{
  border:none;
  max-width:100%;
  max-height:100%;
}

.blur{
  @include blur(2px);
}

a[href]:not([href=""]):empty:after{
	content:attr(href);
}

.clear{
    clear:both;
    float:none;
}

.pull_left{
  float:left;
}

.pull_right{
  float:right;
}

.hide{
  display:none !important;
}

.icon{

  &:hover{
    text-decoration:none;
  }

  &.button:hover{
    cursor:pointer;
  }
}

.menu{
  .item{
    display:block;
  }
}
