//https://coolors.co/app/0b132b-1c2541-3a506b-5bc0be-6fffe9
//https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429
//https://coolors.co/app/011627-fdfffc-2ec4b6-e71d36-ff9f1c
//https://coolors.co/app/5bc0eb-fde74c-9bc53d-e55934-fa7921

/*brand colors*/
$color_primary:#1C2541;
$color_primary_dark: #0B132B !default;
$color_primary_light:#8D99AE !default;

$color_secondary:null !default;
$color_secondary_dark:null !default;
$color_secondary_light:null !default;


/*text colors*/
$color_text_primary:null;
$color_text_secondary:null;

$color_link_primary:null;
$color_link_secondary:null;
$color_link_visited:$color_primary_light;

$color_heading:$color_secondary !default;

$color_link:$color_secondary !default;
$color_link:null !default;

$color_foreground:#efefef !default;
$color_shadow:#ababab !default;
$color_accent:grey;

$color_border:#E1E1E1 !default;

$color_text:#222 !default;

$color_success: #41cb83;
$color_error: #ff5548;
$color_error:#E95350;
$color_info:#2A79BF;
$color_disabled:#8D99AE;
$color_neutral:#FA7921;
$color_aqua:#32C5D2;

$font_family_fallback:Helvetica,Arial !default;
$font_family_primary:Tahoma !default;
$font_family_secondar:null !default;
$font_family:$font_family_primary, $font_family_fallback !default;
$font_size:16px !default;
$font:$font_size normal $font_family;

$shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 50px rgba(0,0,0,0.24);
$gap:10px;
$space:1em;
