@import "_nexus_mixin.scss";
@import "_nexus_palette.scss";
@import "_nexus_animations.scss";

*{
  @include box-sizing(border-box);
}


body{
  color:$color_text;
  @include word-break(break-word);
  font-size:$font_size;
}

html, body{
    min-height:100%;
    font-family:$font_family, $font_family_fallback;
    -webkit-font-smoothing:antialiased;
}


img{
    border:none;
    max-height:100%;
    max-width:100%;
}

<<<<<<< HEAD
a{
  color:$color_link;
}

button,
input[type=button],
input,
a:link,
.button,
select{
=======
button,input[type=button], input[type=submit], input[type=reset],a:link,.button,select{
>>>>>>> origin/master
    &:not([disabled]){
      cursor:pointer;
    }

    &[disabled]{
      cursor:not-allowed;
    }
}

<<<<<<< HEAD
.blur{
  @include blur(2px);
}

a[href]:not([href=""]):empty:after{
	content:attr(href);
=======
a{
  color:$color_link;
  text-decoration:none;
  
  &:hover{
    text-decoration:underline;
  }
}

.pull_left{
    float:left;
}

.pull_right{
    float:right;
}

.clear{
    clear:both;
    float:none;
>>>>>>> origin/master
}
