@import "_nexus_mixin.scss";

*{
  @include box-sizing(border-box);
}

html, body{
    min-height:100%;
    min-height:100vh;
}

img{
    border:none;
    max-height:100%;
    max-width:100%;
}

button,input[type=button], input[type=submit], input[type=reset],a:link,.button,select{
    &:not([disabled]){
      cursor:pointer;
    }

    &[disabled]{
      cursor:not-allowed;
    }
}

a{
  color:$color_link;
  text-decoration:none;
  
  &:hover{
    text-decoration:underline;
  }
}
