//compressed:true

/*
    https://www.materialpalette.com/indigo/blue-grey
    http://materializecss.com/buttons.html
    http://shouldiprefix.com/
*/

@import "_nexus_palette.scss";
@import "_nexus_mixin.scss";
@import "_nexus_base.scss";
@import "_nexus_animation.scss";


$header_height:38px;
$z_index_header:100;

/*REF: https://css-tricks.com/using-flexbox/*/
// .flexbox{
//     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//     display: -webkit-flexbox;
//     display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//     display: -ms-flexbox;      /* TWEENER - IE 10 */
//     display: -webkit-flex;/* NEW - Chrome */
//     display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
//
//     display: -moz-box;
//     display: -webkit-flexbox;
//
//     -webkit-box-align: start;
//     -moz-box-align: start;
//     -webkit-flex-align: start;
// }

%block_reset{
  display:block;
  width:100%;
  clear:both;
  float:none;
}

body{
  min-height:100vh;
  position:relative;
}

body{
  padding:($header_height + 20px) $gap $gap $gap;
}

textarea{
  max-width:100%;
}

span{
  display:inline;
}

#header {
    padding:0;
    top: 0;
    left: 0;
    width: 100%;
    background-color:$color_primary_dark;
    z-index:$z_index_header;
    box-shadow:$shadow;
    position:fixed;
    z-index:100;
    height:$header_height;
    color:white;
    //TODO mixin for multiple box-shadows

    >*{
      display:inline-block;
      vertical-align:baseline;
      margin:0;
      line-height:$header_height;

    }

    a{
      color:white;
    }

    #main_menu_toggle{
      padding:0 0.5em;

      .icon{
        margin-right:10px;
      }
    }
}

#profile_area{
  position:absolute;
  top:0;
  right:0;
  margin:0;
  padding:5px 60px 5px 5px;
  line-height:14px;
  text-align:right;
  font-size:12px;
  background-color:inherit;
  height:100%;

  img{
    width:$header_height + 15px;
    height:$header_height + 15px;
    @include border-radius(100%);
    border:4px solid $color_primary_dark;
    background-color:$color_primary_dark;
    @include box-shadow(0 0 1em 0 $color_primary_dark);
    position:absolute;
    top:0;
    right:0;
    max-height:none;
    z-index:1;
  }

  .menu{
    display:block;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 100%;
    padding: 10px;
    text-align:left;
    margin-top:-20px;
    @include transition(all 0.3s ease);
    @include opacity(0);
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index:-1;

    a{
      color:$color_primary;
    }

    .item{
      line-height:2em;
    }
  }

  &:hover{
    .menu{
      top:100%;
      margin:0;
      @include opacity(1);
    }
  }
}

#main_menu{
  width:200px;
  max-width: 100%;
  position:fixed;
  left:-100px;
  top:$header_height;
  height:calc(100% - #{$header_height});
  background-color:$color_primary;
  @include transition(all 0.2s linear);
  @include opacity(0);
  @include box-shadow($shadow);
  margin:0;
  font-size:0.8em;
  color:white;
  overflow:hidden;
  visibility: hidden;
  z-index:$z_index_header + 1;

  &.active{
    @include opacity(1);
    left:0;
    visibility: visible;
  }

  a{
    color:inherit;
    &:hover{
      text-decoration: none;
    }
  }


  .item{
    padding:$gap;
    border-bottom:1px solid rgba(255,255,255,0.5);
    @include transition(0.1s all linear);
    white-space:nowrap;

    .icon{
      margin:0 $gap 0 0;
    }

    &:hover{
      background-color:rgba(255,255,255,0.2)
    }
  }

}

details.debug{
    background-color: #1D1F21;
    color: white;
    font-size: 0.7em;
    padding: 1em;
    margin: 0.5em;
    float: none;
    clear: both;
    border-radius: 0.4em;
    display: block;

    summary {
        border-bottom: 1px solid white;
        padding-bottom: 0.7em;
        outline:none;
    }
}

.card{
  max-width:100%;
  width:300px;
  display:block;
  float:none;
  clear:both;
  background-color:white;
  margin:0 auto 10px auto;

  header,.content{
    padding:$gap;
  }


  header{
    position:relative;
    background-color:$color_primary_light;
    text-transform: uppercase;
    font-size: 1.5em;
    max-height: 96px;
    font-weight: bold;
    color:white;
    text-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    text-align:center;

    .icon{
      font-size:4em;
      color:white;
    }
  }

  .content{
    .title{
      text-transform:uppercase;
    }
  }

  footer{
    border-top:1px solid $color_border;
    padding: 0.8em;
    font-size: 0.9em;
    text-align: left;
    a{
      font-weight:bold;
    }
  }

  &.error{
    header{
      background-color:$color_error;
    }
    footer{
      a{
        color:$color_error;
      }
    }
  }

  &.info{
    header{
      background-color:$color_info;
    }

    footer{
      a{
        color:$color_info;
      }
    }
  }

}

.notification{
  box-shadow:$shadow;
  background-color:white;
  display:block;
  margin:$gap auto;
  width:95%;
  float:none;
  clear:both;
  border:2px solid $color_info;
  border-left-width:5px;
  padding:0.5em;
  font-size:0.8em;
  vertical-align:middle;

  .icon{
    color:$color_info;
    font-size:1rem;
    margin-right:0.5em;
  }

  *{
    display:inline;
    vertical-align:middle;
  }
}

.chart{
  width:300px;
  height:200px;
  display:block;
  clear:both;
  float:none;
  margin:$gap auto;
  background-color:white;
  padding:$gap;
}

.brick{
  display:inline-block;
  vertical-align:top;
  float:none;
  clear:both;
  margin:0 $gap $gap 0;
}

.stat_block{
  width: 250px;
  max-width:100%;
  color: white;
  padding: 0;
  text-align:right;
  background-color:$color_neutral;

  &.info{
    background-color: $color_info;
  }

  .block_icon {
    position: absolute;
    left: -10px;
    bottom: -10px;
    font-size: 6.5em;
    color: rgba(255,255,255,0.1);
  }

  .content{
    padding: 20px 10px;
    min-height: 96px;
    overflow: hidden;
    position: relative;
  }

  .value, .label {
    display: block;
    color: rgba(255,255,255,0.9);
    font-weight:normal;
  }

  .footer {
    display: block;
    width: 100%;
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
    z-index: 1;
    margin:0;
    text-transform:uppercase;

    .icon{
      float:right;
    }

  }
}

.shadowed{
  box-shadow:$shadow;
  @include transition(all 0.2s ease-in-out);

  &:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

form.card{
  header{
    background-color:$color_aqua;
    font-size:1.5em;
  }
}

form{
  .field{
    @extend %block_reset;
  }
}


/*template styles*/
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  @include opacity(0);
  @include transition(all 0.2 ease);

  &.active{
    z-index:1;
    @include opacity(1);

    & ~ #page_content{
      @include blur(2px);
    }
  }
}
