//out:nexus_print.min.css

@import "_nexus_mixin.scss";

@media print{
    *{
      @include box-shadow(none);
      background:none;
    }

    body{
      margin:0;
      padding:0;
    }

    select{
      @include appearance(none);
      border:none;
    }

    .no_print,#header,#footer,#menu{
        display:none;
    }
}

@media print and (width: 21cm) and (height: 29.7cm) {
    @page {
       margin: 3cm;
    }
 }

 @media print and (width: 8.5in) and (height: 11in) {
    @page {
        margin: 1in;
    }
 }
