//compressed:true

/*
    https://www.materialpalette.com/indigo/blue-grey
    http://materializecss.com/buttons.html
    http://shouldiprefix.com/
*/

@import "_nexus_palette.scss";
@import "_nexus_mixin.scss";
@import "_nexus_animation.scss";

$gap:0.625rem;

$header_height:2.375rem;
$z_index_header:100;

/*REF: https://css-tricks.com/using-flexbox/*/
// .flexbox{
//     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//     display: -webkit-flexbox;
//     display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//     display: -ms-flexbox;      /* TWEENER - IE 10 */
//     display: -webkit-flex;/* NEW - Chrome */
//     display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
//
//     display: -moz-box;
//     display: -webkit-flexbox;
//
//     -webkit-box-align: start;
//     -moz-box-align: start;
//     -webkit-flex-align: start;
// }

@mixin block_reset{
  display:block;
  width:auto;
  clear:both;
  float:none;
}

*{
  @include box-sizing(border-box);
}

html, body{
    min-height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    margin:0;
}


body{
  color:$color_text;
  @include word-break(break-word);
  font:$font;
  background-color:$color_foreground;
  min-height:100vh;
  position:relative;
}

body{
  padding:($header_height + ($gap*2)) $gap $gap $gap;
}

img{
    border:none;
    max-height:100%;
    max-width:100%;
}

a{
  color:$color_link;
  text-decoration:none;

  &:visited{
    color:$color_link_visited;
  }

  &:hover{
    text-decoration:underline;
  }

}

button,
input[type=button],
input,
button,
input[type=submit],
input[type=reset],
a:link,
.button,
select,
.action,
[data-toggle]{
    @include user-select(none);

    &:not([disabled]){
      cursor:pointer;
    }

    &[disabled]{
      cursor:not-allowed;
    }

    &:hover{
      cursor:pointer;
    }

}


h1,h2,h3,h4,h5,h6{
  display: block;
  font-weight: bold;
  margin:0;
}

h1{
  font-size:2em;
}

h2{
  font-size:1.5em;
}

h3{

}

h4{
  font-size:1em;
}

h5{
  font-size: 0.83em;
}
input:focus{
  outline-color:$color_primary;
}

img{
  border:none;
  max-width:100%;
  max-height:100%;
}

textarea{
  max-width:100%;
}

span{
  display:inline;
}

details.debug{
    background-color: #1D1F21;
    color: white;
    font-size: 0.7em;
    padding: 1em;
    margin: $gap;
    float: none;
    clear: both;
    border-radius: 0.4em;
    display: block;

    summary {
        border-bottom: 1px solid white;
        padding-bottom: 0.7em;
        outline:none;
    }
}

.blur{
  @include blur(2px);
}


.clear{
    clear:both;
    float:none;
}

.pull_left{
  float:left;
}

.pull_right{
  float:right;
}

.hide{
  display:none !important;
}

.icon{

  &:hover{
    text-decoration:none;
  }

  &.button:hover{
    cursor:pointer;
  }
}

.menu{
  .item{
    display:block;
  }
}

.card{
  @include block_reset;
  display:inline-block;
  max-width:100%;
  width:260px;
  background-color:white;
  overflow-x:hidden;
  @include border-radius(3px);

  header,.content{
    padding:$gap*2;
  }

  header{
    position:relative;
    background-color:$color_info;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
    color:white;
    @include box-shadow(0 2px 5px 1px rgba(0,0,0,0.2));
    @include user-select(none);
    .icon{
      font-size:3em;
      color:white;
    }
  }

  .content{

    .title{
      text-transform:uppercase;
    }
  }

  footer{
    border-top:1px solid $color_border;
    padding: $gap;
    font-size: 0.9em;
    text-align: left;

    input[type=submit],a{
      color: $color_info;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      background: none;
      font-size: 1em;
      margin-left: auto;
      display: block;
    }
  }

  &.error{
    header{
      background-color:$color_error;
    }
    footer{
      a{
        color:$color_error;
      }
    }
  }

  &.info{
    header{
      background-color:$color_info;
    }

    footer{
      a{
        color:$color_info;
      }
    }
  }

}

.notification{
  box-shadow:$shadow;
  background-color:white;
  display:block;
  margin:$gap auto;
  width:95%;
  float:none;
  clear:both;
  border:2px solid $color_info;
  border-left-width:5px;
  padding:0.5em;
  font-size:0.8em;
  vertical-align:middle;

  .icon{
    color:$color_info;
    font-size:1rem;
    margin-right:0.5em;
  }

  *{
    display:inline;
    vertical-align:middle;
  }
}

.chart{
  width:300px;
  height:200px;
  display:block;
  clear:both;
  float:none;
  margin:$gap auto;
  background-color:white;
  padding:$gap;
}

.stat_block{
  width: 250px;
  max-width:100%;
  color: white;
  padding: 0;
  text-align:right;
  background-color:$color_neutral;

  &.info{
    background-color: $color_info;
  }

  .block_icon {
    position: absolute;
    left: -$gap/6;
    bottom: -$gap/6;
    font-size: 6.5em;
    color: rgba(255,255,255,0.1);
  }

  .content{
    padding: ($gap*2) $gap;
    min-height: 96px;
    overflow: hidden;
    position: relative;
  }

  .value, .label {
    display: block;
    color: rgba(255,255,255,0.9);
    font-weight:normal;
  }

  .footer {
    display: block;
    width: 100%;
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
    z-index: 1;
    margin:0;
    text-transform:uppercase;
    min-height:1.625rem;

    .icon{
      float:right;
      font-size:1rem;
    }

  }
}

.shadowed{
  box-shadow:$shadow;
  @include transition(all 0.2s ease-in-out);

  &:hover{
    box-shadow: 0 $gap ($gap*2) rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@mixin material_input{


}

form{
  .field{
    @include block_reset;
    position:relative;
    margin:0 0 $gap*3 0;
    padding:$gap 0 0 0;

    .input{
      border:none;
      background:none;
      border-bottom:1px solid $color_info !important;
      display:block;
      width:100%;
      @include border-radius(0);
      position:relative;
      z-index:1;
      padding:$gap 0;
      font-size:1rem;

      &:focus, &:valid{
        outline:none;
        @include box-shadow(none);
        border-width:2px !important;

        & ~ .label{
          font-size:0.7rem;
          top:0;
          font-weight:bold;
          color:$color_info;
        }
      }
    }

    .chosen-container{

      &.chosen-container-active{
        & ~ .label{
          font-size:0.7rem;
          top:0;
          font-weight:bold;
          color:$color_info;
        }
      }

      .chosen-choices{
        border:none;
        background:none;
        border-bottom:1px solid $color_info !important;
        display:block;
        width:100%;
        @include border-radius(0);
        position:relative;
        z-index:1;
        padding:$gap 0;
        font-size:1rem;
      }
    }

    .label{
      position:absolute;
      top:$gap*2;
      left:0;
      font-size:0.9rem;
      color:$color_text_secondary;
      @include transition(all 0.2s ease-in-out);
      z-index:0;
    }

    .chosen-container-active .chosen-choices {
        border: none;
        @include box-shadow(none);
    }
  }
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  @include opacity(0);
  @include transition(opacity 0.2s ease);

  &.active{
    z-index:1;
    @include opacity(1);

    & ~ #page_content{
      @include blur(2px);
    }
  }
}

.profile_badge{
  position:relative;
  margin:0;
  padding:$gap/2 $gap*6 $gap/2 $gap/2;
  line-height:14px;
  text-align:right;
  font-size:12px;
  line-height:normal;
  background-color:$color_primary;

  img{
    width:$header_height + ($gap*1.5);
    height:var(width);
    @include border-radius(100%);
    border:4px solid $color_primary;
    background-color:$color_primary;
    @include box-shadow(0 0 1em 0 $color_primary);
    position:absolute;
    top:0;
    right:0;
    max-height:none;
    z-index:1;
  }

  .menu{
    display:block;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 100%;
    padding: $gap;
    text-align:left;
    margin-top:-20px;
    @include transition(all 0.3s ease);
    @include opacity(0);
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    visibility: hidden;
    z-index:-1;

    a{
      color:$color_primary;
    }

    .item{
      line-height:2em;
    }
  }

  &:hover{
    .menu{
      top:100%;
      margin:0;
      @include opacity(1);
      visibility:visible;
    }
  }
}

#header {
    padding:0;
    top: 0;
    left: 0;
    width: 100%;
    background-color:$color_primary;
    z-index:$z_index_header;
    box-shadow:$shadow;
    position:fixed;
    z-index:100;
    height:$header_height;
    color:white;
    //TODO mixin for multiple box-shadows

}

#header_profile_badge{
  position:absolute;
  top:0;
  right:0;
  height:100%;
  min-width:120px;
}

#main_menu_toggle{
  padding: 0;
  position: fixed;
  top: $gap;
  left: $gap;
  z-index: $z_index_header + 2;
  color: white;
  .icon{
    margin-right:$gap;
  }
}

#main_menu{
  width:300px;
  max-width: 100%;
  position:fixed;
  left:-100px;
  top:0;
  height:100%;
  background-color:white;
  @include transition(all 0.2s ease-in-out);
  @include opacity(0);
  @include box-shadow($shadow);
  margin:0;
  font-size:1em;
  overflow:hidden;
  visibility: hidden;
  z-index:$z_index_header + 1;
  counter-reset:menu_items;

  &.active{
    @include opacity(1);
    left:0;
    visibility: visible;

    .item{
      left:0;
    }
  }

  header{
    width:100%;
    height:200px;
    max-height:30%;
    display:block;
    background-color:$color_secondary;
    position:relative;
    padding-top:$header_height;

    .gplus.user.name{
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      padding: $gap;
      color: white;
      font-weight: normal;
      background-color: rgba(0,0,0,0.1);
    }
  }

  a{
    color:inherit;
    &:hover{
      text-decoration: none;
    }
  }

  .item{
    font-size:1.1rem;
    padding:1rem 0.5rem;
    white-space:nowrap;
    position:relative;

    @include transition(0.1s 1s left linear);

    .icon{
      margin:0 $gap 0 0;
      vertical-align:top;
    }

    &:hover{
      color:$color_secondary;
    }
  }

}

.brick{
  margin:0 $gap $gap 0;
  display:inline-block;
  vertical-align: top;
}

@media (max-width:320px){

  body{
    font-size:$font_size*0.875;
  }

  .stat_block, .card{
      width:100%;
  }
}
